img {
  border-radius: 10%;
  height: 250px;
  text-align: center;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.bio {
  margin: 5%;
}

.mySlides {
  display: none;
  text-align: center;
}
