.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-content: center;
  grid-gap: 5px;
  max-width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  justify-items: center; /* adjusted */
}