table.center {
    margin-left:auto;
    margin-right:auto;
    padding-left: 50px;
}

th, td {
    padding: 15px;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Georgia;
    font-size: 16pt;
}

.header {
    text-align: center;
    font-family: Georgia;
    font-size: 24pt;
}