<div class="topnav">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  <a routerLink="/inductees" routerLinkActive="active">Inductees</a>
  <a routerLink="/bolton" routerLinkActive="active">Bob Bolton Award</a>
  <a routerLink="/brissie" routerLinkActive="active">Lou Brissie Award</a>
  <a routerLink="/guidelines" routerLinkActive="active">Guidelines</a>
  <a routerLink="/sponsorship" routerLinkActive="active">Sponsorship</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
</div>