<app-nav [isGuidelines]="true"></app-nav>
<main>
  <h1 style="text-align: center;">Induction Guidelines</h1> <br>
  <div>
    Purpose: To highlight the sports tradition of the community by recognizing and honoring those individuals and teams
    that have been instrumental in the creation, enlargement and maintenance of such tradition.

    <div>ELIGIBILITY/CRITERIA FOR CONSIDERATION</div>
    <ul>
      <li>Any athlete, administrator, coach, official, supporter, team or organization that has made a major
        contribution to the community's sports tradition.</li>
      <li>The nominee by his/her/its' involvement with athletics must have brought fame and glory to the tradition or
        had major involvement in improving the athletic opportunities and/or facilities of the community.</li>
      <li>In order to be considered, a nominee must be a present or former resident of the North Augusta community</li>
      <li>In order to be considered, a nominee must have been inactive in his/her athletic field of endeavor a minimum
        of five (5) years or if active, at the time of consideration, having contributed to the community in his/her
        field a minimum of twenty-five (25) years.</li>
      <li>To be considered, a nominee must have demonstrated the highest standards of personal character and morals
        during the time of his/her contributions and such standards must still be present at the time of selection and
        induction.</li>
    </ul>
  </div>
</main>
