<app-nav [isHome]="true"></app-nav>

<main>
  <h1 style="text-align:center">North Augusta Sports Hall of Fame</h1>
  <h2 style="text-align:center">The next banquet is February 22nd, 2020</h2>
  <div>
    <h3 style="text-align:center">Our Mission</h3>
    <p>To develop, attract, promote and sponsor athletic events in the city of North Augusta and surrounding areas that
      provide participation and spectator opportunities for our citizens while creating tourism revenue in a positive,
      family oriented environment.</p>
  </div>
</main>