<app-nav [isHome]="true"></app-nav>

<main>
  <h1 style="text-align: center">North Augusta Sports Hall of Fame</h1>
  <img style="max-width: 100%" [src]="bannerImg" />
  <div style="text-align: center">
    <h2>Class of 2023</h2>
    <h3>1997 State Champion Baseball Team | Ron McKie | Diane Shuler</h3>
  </div>
  <div>
    <h2 style="text-align: center">Our Mission</h2>
    <p>
      To develop, attract, promote and sponsor athletic events in the city of
      North Augusta and surrounding areas that provide participation and
      spectator opportunities for our citizens while creating tourism revenue in
      a positive, family oriented environment.
    </p>
  </div>
  <h5 style="text-align: center">Last updated 11/21/2022</h5>
</main>
