<app-nav [isHome]="true"></app-nav>

<main style="text-align: center">
  <h1>North Augusta Sports Hall of Fame</h1>
  <img style="max-width: 80%" [src]="bannerImg" />
  <div>
    <h2>Class of 2023</h2>
    <h3>
      1997 State Champion Baseball Team | Ron McKie | Diane Shuler | Tyler
      Colvin
    </h3>
  </div>
  <div>
    <h2>2023 Hall of Fame Banquet</h2>
    <p>
      Induction banquet will be Saturday, February 25, 2023 at the Wesley
      Center, North Augusta, SC Tickets are $25 and will be available in
      mid/late January. For table of 8 reservations, please email
      nasc2005@gmail.com
    </p>
  </div>
  <div>
    <h2 style="text-align: center">Our Mission</h2>
    <p>
      To develop, attract, promote and sponsor athletic events in the city of
      North Augusta and surrounding areas that provide participation and
      spectator opportunities for our citizens while creating tourism revenue in
      a positive, family oriented environment.
    </p>
  </div>
  <h5 style="text-align: center">Last updated 12/29/2022</h5>
</main>
