<main>
    <h1>{{context.name}}</h1>
    <div style="text-align: center;">
        <img [src]="imagePath" />
    </div>
    <div *ngFor="let m of images">
        <img class="mySlides" [src]="imagePath">
    </div>
    <p class="bio">
        Here would be a basic bio of the inductee. Here would be a basic bio of the inductee. Here would be a basic bio
        of the inductee. Here would be a basic bio of the inductee. Here would be a basic bio of the inductee. Here
        would be a basic bio of the inductee. Here would be a basic bio of the inductee. Here would be a basic bio of
        the inductee. Here would be a basic bio of the inductee. Here would be a basic bio of the inductee. Here would
        be a basic bio of the inductee.
    </p>
</main>